@import '../../common/mediaqueries.scss';
.darkmode{
    position: fixed;
    bottom: 1rem;
    left: 1.5rem;
    text-align: center;
    z-index: 1999;
    @include tablet{
        left: 1rem;
    }
    i{
        margin: 0.5rem 0;
        color: #bcc7d3 ;
        font-size: 1.2rem;
    }
    .toggle{
        position: relative;
        height: 3rem;
        width: 1.3rem;
        border: 2px solid #bcc7d3;
        border-radius: 2rem;
        cursor: pointer;
        &__scroll{
            position: absolute;
            top: 0;
            left: 3%;
            height: 52%;
            width: 92%;
            background-color: #bcc7d3;
            border-radius: 1rem;
            transition: all 0.3s;
        }
        &__scroll.active {
             top: 45%;
        }
    }
}